* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.p5Canvas{
  margin: 20px 30%;
  border-radius: 15px;
}

.shuffle-div{
  position: absolute;
  left: 40%;
  top: 70vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-select{
  width: 300px;
}

#defaultCanvas0 {
        width: 35%;
        height: 350px;
        
    
      }
/* .puzzlePage {
  width: 100%;
  display: flex;
  justify-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
} */

/* img {
  width: 100%;
} */
